<%= link_to "Rails Stripe Membership Saas", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
        <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
    <li>
        <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
    <% if current_user.has_role? :admin %>
        <li>
          <%= link_to 'Admin', users_path %>
        </li>
    <% else %>
          <%- if current_user.user_stripe_token.blank? %>
              <li>
                <%= link_to 'Stripe Connect', "https://connect.stripe.com/oauth/authorize?response_type=code&client_id=#{ENV['STRIPE_CONNECT_CLIENT_ID']}"%>
              </li>
          <% end %>
          <%- current_user.roles.each do |role|%>
              <li><%=link_to  role.name.humanize, "/content/#{role.name}" %></li>
          <% end %>
    <% end %>

  <% else %>
    <li>
        <%= link_to 'Login', new_user_session_path %>
    </li>
  <% end %>

</ul>